.icon {
    width: 32px;
    height: 32px;
}

.SidebarItemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 16px;
}

.link {
    margin-left: 10px;
}

.collapsedRedesigned {
    padding: 6px 9px;

    .link {
        margin-left: 0;
        opacity: 0;
        width: 0;
    }
}

.active {
    background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        background: var(--accent);
        height: 100%;
    }
}
