.input {
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--icon);
    width: 100%;
    outline: none;
    color: var(--text);
    background: none;
    font: var(--font-m);

    &::placeholder {
        color: var(--hint);
        font: var(--font-m);
    }

    &:focus {
        border: 2px solid var(--accent);
    }

}

.disabled {
    opacity: 0.7;
}

.readonly {
    opacity: 0.7;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.errorInput {
    border: 2px solid var(--cancel);
}

.errorText p {
    color: var(--cancel);
}
