.Post {
  width: 468px;
}

.postImage {
  width: 468px;
  min-height: 585px;
  max-height: 585px;
}

.icon {
  width: 30px;
  height: 30px;
}

.moreBtn {
  color: var(--hint);
  cursor: pointer;
  padding: 5px;
}

.description {
  font: var(--font-m);
}
