.post {
  width: 300px;
  position: relative;
  height: 300px;
  transition: opacity .3s ease;
}

.postImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}

.post:hover {
  opacity: 0.7;
}
