.Chat {
  display: flex;
  flex-direction: column;
  height: var(--screen-height);
}

.chatHeader {
  padding: 20px;
  border-bottom: 1px solid var(--hint);
}

.moreIcon {
  width: 30px;
  height: 30px;
}

.chatContent {
  flex: 1;
  padding: 10px 20px;
  overflow-y: auto;
  background: var(--dark-bg);
}

.chatFooter {
  padding: 20px;
  border-top: 1px solid var(--hint);
}

.sendIcon {
  width: 40px;
  height: 40px;
}


